# --------------------------------------------
# Environment variables for the application
# --------------------------------------------

UPTIME_KUMA_DB_TYPE=mariadb
UPTIME_KUMA_DB_HOSTNAME=kuma-mysql
UPTIME_KUMA_DB_PORT=3306
UPTIME_KUMA_DB_NAME=kuma
UPTIME_KUMA_DB_USERNAME=user
UPTIME_KUMA_DB_PASSWORD=password

UPTIME_KUMA_DISABLE_FRAME_SAMEORIGIN=false
UPTIME_KUMA_WS_ORIGIN_CHECK=cors-like

# --------------------------------------------
# Environment variables for the database
# --------------------------------------------

MYSQL_DATABASE=kuma
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root
MARIADB_AUTO_UPGRADE=1
